<div class="lg:max-w-6xl container mx-auto p-4">
  <h2>Welcome Home Brother</h2>
  <!-- <div class="flex flex-wrap">
    <ng-container *ngFor="let product of allProducts()">
      <div class="rounded">
        <img src="{{ product.img }}" alt="{{ product.name }}" width="100px" />
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency: 'Rp.' }}</p>
      </div>
    </ng-container>
  </div> -->
  <div>
    <h6 class="my-4">Products from api</h6>
    <div class="grid grid-cols-6 gap-10">
      <ng-container *ngFor="let product of products.data">
        <div>
          <img
            src="{{
              'http://localhost:1337' +
                product.attributes.image.data[0].attributes.url
            }}"
            alt="{{ product.attributes.name }}" />
          <div class="card_desc">
            <div class="truncate">{{ product.attributes.name }}</div>
            <div>{{ product.attributes.price | currency: 'Rp.' }}</div>
          </div>
          <div class="card_action">
            <button type="button">
              <fa-icon class="mr-2" [icon]="faCartPlus"></fa-icon>
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
